.hello-kitty-wrap
  .hello-kitty-face
    .hello-kitty-bowknot
      .hello-kitty-bowknot-left
      .hello-kitty-bowknot-center
      .hello-kitty-bowknot-right
    .kitty-eyes
      .hello-kitty-left-eye
      .hello-kitty-right-eye
    .kitty-nose
    .hello-kitty-left-moustachs
      .hello-kitty-left-moustache1
      .hello-kitty-left-moustache2
      .hello-kitty-left-moustache3
    .hello-kitty-right-moustachs
      .hello-kitty-right-moustache1
      .hello-kitty-right-moustache2
      .hello-kitty-right-moustache3