.bg{
  height: 100vh;
  width: 100vw;
  background-image: url("../martin-shreder-349256-unsplash.jpg");
  background-position: 0 0;
  background-size: cover;
  filter: opacity(80%);
  background-blend-mode:overlay;
  position: relative;
  transition: 1s;
  opacity: 0;
}
.code{
  background-image: url("../markus-spiske-518966-unsplash.jpg");
  position: absolute;
  width: 65vw;
  height: 100vh;
  background-size: contain;
  filter: blur(2px) opacity(25%);
  bottom: 0;
  display: none;
  background-blend-mode:overlay;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
}
.bgTxt{
  color: #fff;
  position: absolute;
  right: 5%;
  top: 35%;
  height: 300px;
  overflow: hidden;
  font-size: 3.5rem;
  letter-spacing: 5px;
  text-shadow: 10px 10px 13px rgba(0, 0, 0, 0.4);
}
.bgTxt h6,.bgTxt h5,.bgTxt h1{
  margin: 0rem;
  line-height: 1.3em;
}
.bgTxt h6{
  transform: translateY(-4em);
}
/* button{
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  cursor: pointer;
  padding: 0.3em;
  border-radius: 0.2em;
} */
a{
  text-decoration: none;
  color: #fff;
}
header{
  top: 0;
  background-color: rgba(35, 47, 52, 0.8);
  position: absolute;
  width: 100vw;
  opacity: 0;
}
header ul{
  padding-right: 4em;
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
}
.bgTxt h1{
  text-align: center;
}
body,button{
  font-family: 'VT323', monospace,"微軟正黑體";
  background-color: #D2DBE0;
}
#arrow{
  position: absolute;
  right: 50%;
  transform: rotate(180deg);
  cursor: pointer;
  opacity: 0;
  animation: move 1.5s 0.3s infinite both;
}
@keyframes move{
  0%{
    bottom: 5%;
  }
  100%{
    bottom: 0;
  }
}