.bg{
  height: 100vh;
  width: 100vw;
  background-image: url("../img/homeBg.jpg");
  background-position: 0 0;
  background-size: cover;
  filter: opacity(80%);
  background-blend-mode:overlay;
  position: relative;
  transition: 1s;
  opacity: 0;
}
#about{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 15vh 10vw;
  background-image: url("../img/patternBg.jpg");
  background-size: cover;
  background-blend-mode:overlay;
  background-color: #D2DBE0;
  display: flex;
}
#about article{
  width: 65vw;
}
#myPhoto{
  background-image: url("../img/my.PNG");
  width: 30vw;
  margin-right: 50px;
  background-size: 150%;
  background-position: center center;
}
.code{
  background-image: url("../img/homeCode.jpg");
  position: absolute;
  width: 65vw;
  height: 100vh;
  background-size: 100%;
  filter: blur(1px) opacity(25%);
  bottom: 0;
  display: none;
  background-blend-mode:overlay;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
}
.bgTxt{
  color: #fff;
  position: absolute;
  right: 5%;
  top: 35%;
  height: 400px;
  overflow: hidden;
  font-size: 3.5rem;
  letter-spacing: 5px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.bgTxt h6,.bgTxt h5,.bgTxt h1{
  margin: 0rem;
  line-height: 1.3em;
  white-space: nowrap;
}
.bgTxt h6{
  transform: translateY(-4em);
}
.bgTxt img{
  opacity: 0;
  transform: translate(5em,-2em);
  width: 250px;
}
.bgTxt span{
  animation: blink 1.3s infinite both;
  margin-left: 0.5em;
}
@keyframes blink {
  from, to { border-left: 4px solid #fff; }
  50%{ 
    border-color: transparent; 
  }
}
/* button{
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  cursor: pointer;
  padding: 0.3em;
  border-radius: 0.2em;
} */
a,header i{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.title{
  font-size: 2rem;
  font-weight: bold;
}
.subTitle{
  font-size: 1.6rem;
}
header{
  box-sizing: border-box;
  top: 0;
  background-color: rgba(35, 47, 52, 0.8);
  position: absolute;
  width: 100vw;
  opacity: 0;
}
header i{
  display: none!important;
  cursor: pointer;
}
header i:hover{
  color: #fff;
}
header ul{
  padding-right: 4em;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
header ul ol,header ul ol a{
  padding: 1em 1em;
}
header ul ol:hover a,header ul ol a:focus,.active{
  color: #fff;
  border-bottom: 3px solid #fff;
}
.bgTxt h1{
  text-align: center;
}
body,button{
  font-family: 'VT323', monospace,"微軟正黑體";
  background-color: #D2DBE0;
  overflow-x: hidden;
}
#arrow{
  position: absolute;
  right: 50%;
  width: 40px;
  cursor: pointer;
  opacity: 0;
  animation: move 1.5s 0.3s infinite both;
}
@keyframes move{
  0%{
    bottom: 5%;
  }
  100%{
    bottom: 0;
  }
}

@media(max-width: 435px){/* mobile */ 
  .code{
    height: 55vh;
    width: 100vw;
    -webkit-clip-path: polygon(0 0, 100% 35%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0% 100%);
  }
  .bgTxt{
    font-size: 2rem;
    height: 300px;
    top: 50%!important;
    padding-left: 1rem;
  }
  .bgTxt img{
    width: 150px;
  }
  #arrow{
    width: 20px;
  }
  header{
    padding: 1em 1em;
  }
  header i{
    display: block!important;
  }
  header ul{
    display: none;
  }
  #about{
    flex-direction: column;
    padding: 2em;
    align-items: center;
  }
  #about article{
    width: 80vw;
    height: 55vh;
  }
  #myPhoto{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 0;
  }
}
@media(max-width: 350px){
  .bgTxt{
    font-size: 1.5rem;
  }
  .bgTxt img{
    width: 120px;
  }
}