.center{
  width: 10vw;
  height: 10vw;
  border: 4px solid #232F34;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box{ 
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box span{ 
  width:50px; 
  height:50px; 
  border: 4px solid orange;
  position:absolute; 
  left:50%; 
  margin-left:-25px; 
  margin-top:-25px; 
  border-radius:50%;
  transform: scale(2,2);
  cursor: pointer;
}
.bg{
  height: 100vh;
  width: 100vw;
  background-image: url("../img/homeBg.jpg");
  background-position: 0 0;
  background-size: cover;
  filter: opacity(80%);
  background-blend-mode:overlay;
  position: relative;
  transition: 1s;
  opacity: 0;
  background-attachment: fixed;
}
#menu{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: -100vh;
  z-index: 30;
}
header *,#menu *,button,i{
  transition: 0.5s;
}
.close{
  font-size: 3em;
  right: 0;
}
#menu .subTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding-left: 0;
}
#menu .subTitle ol{
  text-align: center;
  width: 90vw;
  background-color:rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 1em 0 1em 0;
}
#menu .subTitle ol:last-child{
  border-bottom: 1px solid transparent;
}
#about,#skill,#experience,#work{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#skill{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#experience,#work{
  background-image: url("../img/patternBg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode:overlay;
}
#work{
  background-color: #D0DBE1;
}
#experience{
  background-color: #232F34;
}
#about article{
  width: 75vw;
  background-color: #F9AA33;
  height: 100vh;
  margin-left: 25vw;
  padding: 15vh 5vw 15vh 17.5vw;
  box-sizing: border-box;
  position: relative;
}
#about p{
  line-height: 1.3em;
}
#about span.title{
  box-sizing: border-box;
  background-color: #D0DBE1;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  left: 0;
  top: 6.5vh;
  width: 0;
  text-align: center;
  padding: 0.3em 0;
}
#about span{
  position: absolute;
  top: 9vh;
  right: 6.5vw;
}
#about span i{
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1.3,1.3);
  margin-left: 0.5rem;
}
#about button{
  border: 1px solid #232F34;
  padding: 0.6em;
  font-size: 1.2em;
  color: #232F34;
  box-shadow: 2px 2px 2px rgba(35, 47, 52, 0.5);
}
#about button:hover,#about span i:hover{
  box-shadow: 2px 2px 2px transparent;
  opacity: 0.6;
}
#about span i:hover{
  transform: scale(1.8,1.8);
}
#myPhoto{
  position: absolute;
  height: 60vh;
  width: 25vw;
  transform: translate(12.5vw, 20vh);
  z-index: 10;
  background-image: url("../img/myPhoto.jpg");
  background-size: 150%;
  background-position: center center;
  background-repeat: no-repeat;
}
body,button{
  font-family: 'VT323', monospace,"微軟正黑體";
  background-color: #232F34;
  overflow-x: hidden;
}
/* #about{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 15vh 10vw;
  background-image: url("../img/patternBg.jpg");
  background-size: cover;
  background-blend-mode:overlay;
  background-color: #D2DBE0;
  display: flex;
  position: relative;
}
#about article{
  position: absolute;
  width: 65vw;
  height: 100vh;
  background-color:rgba(249, 170, 51, 0.5);
  transform: translate(20%, 0);
  padding-left: 20%;
  box-sizing: border-box;
  padding-top: 5%;
  
}
#myPhoto{
  background-image: url("../img/my.PNG");
  width: 30vw;
  transform: translate(0, 25%);
  z-index: 50;
  // margin-right: 50px; 
  background-size: 150%;
  background-position: center center;
  background-repeat: no-repeat;
} */
.code{
  background-attachment: fixed;
  background-image: url("../img/homeCode.jpg");
  position: absolute;
  width: 65vw;
  height: 100vh;
  background-size: 100%;
  filter: blur(1px) opacity(25%);
  bottom: 0;
  display: none;
  background-blend-mode:overlay;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
}
.bgTxt{
  color: #fff;
  position: absolute;
  right: 5%;
  top: 35%;
  height: 400px;
  overflow: hidden;
  font-size: 3.5rem;
  letter-spacing: 5px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.bgTxt h6,.bgTxt h5,.bgTxt h1{
  margin: 0rem;
  line-height: 1.3em;
  white-space: nowrap;
}
.bgTxt h6{
  transform: translateY(-4em);
}
.bgTxt img{
  opacity: 0;
  transform: translate(5em,-2em);
  width: 150px;
}
.bgTxt span{
  animation: blink 1.3s infinite both;
  margin-left: 0.5em;
}
@keyframes blink {
  from, to { border-left: 4px solid #fff; }
  50%{ 
    border-color: transparent; 
  }
}
button{
  background-color: transparent!important;
  border: 1px solid transparent;
  position: absolute;
  cursor: pointer!important;
  outline-style: none;
}
a,header i,.close{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.title{
  font-size: 2rem;
  font-weight: bold;
  color: #232F34;
}
.subTitle{
  font-size: 1.6rem;
}
header{
  box-sizing: border-box;
  top: 0;
  background-color: rgba(35, 47, 52, 1);
  position: fixed;
  width: 100vw;
  opacity: 0;
  z-index: 20;
}
header i{
  display: none!important;
  cursor: pointer;
}
header i:hover,.close:hover,#menu .subTitle ol:hover a,#menu .active{
  color: #fff;
}
header ul{
  padding-right: 4em;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
header ul ol,header ul ol a{
  padding: 1em 1vw;
}
header ul ol:hover a,header .active{
  color: #fff;
  border-bottom: 3px solid #fff;
}
.bgTxt h1{
  text-align: center;
}
#arrow{
  position: absolute;
  right: 50%;
  width: 40px;
  cursor: pointer;
  opacity: 0;
  animation: move 1.5s 0.3s infinite both;
}
@keyframes move{
  0%{
    bottom: 5%;
  }
  100%{
    bottom: 0;
  }
}
@media(max-width: 1000px){
  /* #about .subTitle,#about button{
    font-size: 1.3rem;
  } */
  /* #about article{
    padding: 15vh 2.5vw 15vh 15vw!important;
  } */
}
@media(max-width: 736px){
  /* #about .subTitle,#about button{
    font-size: 1.3rem;
  } */
  /* #about article{
    padding: 15vh 2.5vw 15vh 15vw!important;
  } */
  header{
    padding: 1em 1em;
  }
  header i{
    display: block!important;
  }
  header ul{
    display: none;
  }
}
@media(max-width: 435px){/* mobile */ 
  .center{
    width: 15vw;
    height: 15vw;
  }
  .code{
    height: 55vh;
    width: 100vw;
    -webkit-clip-path: polygon(0 0, 100% 35%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0% 100%);
  }
  .bgTxt{
    font-size: 2rem;
    height: 300px;
    top: 50%!important;
    padding-left: 1rem;
  }
  .bgTxt img{
    width: 85px;
  }
  #arrow{
    width: 20px;
  }
  .title{
    font-size: 1.4rem;
  }
  #about .subTitle,#about button{
    font-size: 0.8rem;
  }
  #about article{
    width: 100vw;
    height: 80vh;
    margin: 20vh 0 0 0;
    padding: 15vh 5vw 15vh 5vw;
  }
  #about span.title{
    top: 16vh;
  }
  #about span {
    top: 18vh;
  }
  #about p {
    margin-top: 4.5em;
  }
  #myPhoto{
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    transform: translate(50%, 25%);
    margin-right: 0;
  }
}
@media(max-width: 350px){
  .bgTxt{
    font-size: 1.5rem;
  }
  .bgTxt img{
    width: 70px;
  }
  
}