.container{
/*   width: 1024px; */
/*   height: 2064px; */
  padding: 32px;
  grid-template-columns:repeat(8,1fr);
  grid-template-rows:repeat(20,1fr);
  font-family: 'Roboto','Microsoft JhengHei', '微軟正黑體',sans-serif ;
}
.progress{
  display: flex;
  margin: 0px;
  padding: 0px;
  transform: translateY(200%);
  border: 3px solid #000;
}
.progress ol{
  transition: 0.1s;
  border-right: 1px solid gray;
  width: 20px;
  padding: 0px;
  height: 15px;
}
.loading{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.head{
  grid-row:1/2;
  grid-column:3/7;
}
[class^='img-'],.image-rotate{
  opacity: 0;
  cursor: pointer;
  background-blend-mode:overlay;
  /* transform: scale(0.9); */
}
*{
  transition: all 0.8s linear;
}
.img-1{
  grid-row:3/7;
  grid-column:1/5;
  /* background-image:url('https://images.unsplash.com/photo-1513827379601-9dba5099a3f9'); */
}
.img-1:hover{
  background-color: rgb(255, 134, 104);
  background-position: center 30%;
}
.img-1:hover .div-1{
  border: 20px solid rgb(255, 134, 104);
}
.img-1:hover .pattern-pos-1{
  background-position:0px 50px;  
  background-image:repeating-linear-gradient(135deg, rgb(255, 134, 104), rgb(255, 134, 104) 20px, transparent 20px, transparent 40px);
}
.img-2:hover,.img-2:hover .area-pos-2{
  background-color: rgb(89, 172, 255);
}
.img-2:hover .div-2{
  border: 20px solid rgb(89, 172, 255);
}
.img-3:hover,.img-3:hover .area-pos-3{
  background-color: #b8b894;
  background-position: center 80%;
}
.img-3:hover .div-3{
  border: 20px solid #b8b894;
}
.img-4:hover{
  background-color: #d9b38c;
}
.img-4:hover .div-4{
  border: 20px solid #d9b38c;
}
.img-4:hover .pattern-pos-4{
  background-position:0px 50px;  
  background-image:repeating-linear-gradient(135deg, #d9b38c, #d9b38c 20px, transparent 20px, transparent 40px);
}
.image-rotate:hover{
  background-color: rgb(255, 181, 255);
  background-position: center 450px;
}
.img-5:hover .div-5{
  border: 20px solid rgb(255, 181, 255);
}
.img-5:hover .pattern-pos-5{
  background-position:0px 50px;  
  background-image:repeating-linear-gradient(135deg, rgb(255, 181, 255), rgb(255, 181, 255) 20px, transparent 20px, transparent 40px);
}
.img-6:hover,.img-6:hover .area-pos-6{
  background-color:#85adad;
}
.img-6:hover .div-6{
  border: 20px solid#85adad;
}
.img-7:hover,.img-7:hover .area-pos-7{
  background-color:#bf80ff;
  background-position: center 100%;
}
.img-7:hover .div-7{
  border: 20px solid#bf80ff;
}
.background{
  background-size: cover;
  background-position: center center;
}
.img-2{
  grid-column:-4/-2;
  grid-row:4/6;
  /* background-image:url('https://images.unsplash.com/photo-1514632542677-48fae74a01b2'); */
}
.pattern{
  /* background-image:url('https://hexschool.github.io/THE_F2E_Design/week4-product%20gallery/assets/pattern%20unit.png'); */
  /* background-repeat: repeat-x; */
  background:repeating-linear-gradient(135deg, #50E3C2, #50E3C2 20px, transparent 20px, transparent 40px);
  background: -webkit-repeating-linear-gradient(135deg, #50E3C2, #50E3C2 20px, transparent 20px, transparent 40px);
  background: -moz-repeating-linear-gradient(135deg, #50E3C2, #50E3C2 20px, transparent 20px, transparent 40px);  
  background: -o-repeating-linear-gradient(135deg, #50E3C2, #50E3C2 20px, transparent 20px, transparent 40px);  
  position: absolute;
}
.pattern-pos-1{
  width: 50%;
  height: 25%;
  bottom: -60px;
  left: 60px;
}
.pattern-pos-4{
  width: 100%;
  height: 25%;
  bottom: -60px;
}
.pattern-pos-5{
  width: 50%;
  height: 50%;
  top: -60px;
  left: 60px;
}
#img1{
  position: absolute;
  top: -20px;
}
#img2{
  position: absolute;
  bottom: -200px;
  right: -10px;
}
#img3{
  position: absolute;
  top: -50px;
  right: 0px;
}
#img4{
  transform: rotate(270deg);
  position: absolute;
  left: -65px;
  bottom: -30px;
}
#img5{
  position: absolute;
  top: 40px;
}
#img6{
  position: absolute;
  right: 0;
  top: -50px;
}
#img7{
  position: absolute;
  top: 120PX;
  right: -80PX;
}
.shadow{
  text-shadow: 0px -14px 1px rgba(0,0,0,0.3),0px -25px 1px rgba(0,0,0,0.1); 
}
.img-1 span{
  position: absolute;
  bottom: -60px;
}
.img-2 span{
  position: absolute;
  right: -20px;
  top: -30px;
}
.img-3 span{
  position: absolute;
  right: -20px;
  bottom: -30px;
}
.img-4 span{
  position: absolute;
  left: -50px;
}
.img-5 span{
  position: absolute;
  left: -20px;
  top: -25px;
}
.img-6 span{
  position: absolute;
  top: -50px;
}
.img-7 span{
  position: absolute;
  bottom: 0;
  right: 0;
}
.div{
  position: absolute;
  border: 20px solid #50E3C2;
  z-index: -100;
}
.div-1{
  width: 50%;
  height: 50%;
  top: -60px;
  right: -70px;
}
.div-2{
  width: 85%;
  height: 85%;
  top: -110px;
  right: -135px;
}
.div-3{
  width: 50%;
  height: 85%;
  top: 60px;
  right: -70px;
}
.div-4{
  width: 85%;
  height: 50%;
  top: -100px;
  left: -60px;
}
.div-5{
  width: 45%;
  height: 35%;
  bottom: -60px;
  right: 130px;
}
.div-6{
  width: 92%;
  height: 50%;
  bottom: -50px;
}
.div-7{
  width: 85%;
  height: 85%;
  top: -60px;
  right: -70px;
}
.type-1{
  opacity: 0;
  grid-column-start: 5;
  grid-row-start: 6;
  align-self: end;
  position: relative;
  top: -30px;
  left: -50px;
}
.img-2 h2{
  position: absolute;
  top: -30px;
  left: -20px;
}
.img-3 h2{
  position: absolute;
  bottom: -30px;
  left: 20px;
}
.img-4 h2{
  position: absolute;
  right: -6px;
  top: -85px;
}
.img-5 h2{
  position: absolute;
  right: -130px;
}
.img-6 h2{
  position: absolute;
  bottom: 0;
  justify-self: center;
}
.img-7 h2{
  position: absolute;
  top: -30px;
}
.txt-white{
  color: #FFFFFF;
  margin: 0;
}
.italic{
  font-style: italic;
  margin: 0;
  white-space:nowrap;
}
.trans-90{
  transform: rotate(90deg); 
}
.logo{
  width: 131px;
  height: 27px;
  background-color: #000000;
}
.grid{
  display: grid;
}
.justify-center{
  justify-items: center;
}
.align-center{
  align-items: center;
}
.title{
  font-size: 72px;
}
.title2{
  font-size: 48px;
}
.bold{
  font-weight: 1000;
  white-space:nowrap;
}
.divArea{
  background-color: #50E3C2;
  z-index: -100;
}
.area-pos-2{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50px;
  right: -70px;
}
.area-pos-3{
  width: 50%;
  height: 100%;
  position: absolute;
  top: -50px;
}
.area-pos-6{
  width: 50%;
  height: 50%;
  position: absolute;
  left: -70px;
  bottom: 0;
}
.area-pos-7{
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  left: 120px;
}
.img-3{
  grid-column:1/5;
  grid-row:9/11;
  /* background-image:url('https://images.unsplash.com/photo-1496345875659-11f7dd282d1d'); */
}
.img-4{
  grid-column:-3/-1;
  grid-row:-13/-9;
  /* background-image:url('https://images.unsplash.com/photo-1484516758160-69878111a911'); */
}
.img-5{
  grid-column:1/5;
  grid-row:-9/-7;
}
.img-6{
  grid-column:-5/-1;
  grid-row:-7/-3;
  /* background-image:url('https://images.unsplash.com/photo-1519406709381-c1f293304b28'); */
}
.img-7{
  grid-column:1/3;
  grid-row:-5/-1;
  /* background-image:url('https://images.unsplash.com/photo-1516914943479-89db7d9ae7f2'); */
}
.image-rotate {
	transform: rotateY(180deg); 
}
.img-5 .image-rotate{
  /* background-image:url('https://images.unsplash.com/photo-1525448198276-222de3961638'); */
  width: 50%;
  height: 100%;
  float: right;
}
.pos-r{
  position: relative;
}
