label
  //提醒切換文字
  .remind Click To Switch Day/Night & Hover The Balloon
  input(type="checkbox")
  .scene
    //雲
    .cloudgroup1
      span.cloudgroupa
      span.cloudgroupb
      span.cloudgroupc
    .cloudgroup3
      span.cloudgroupa
      span.cloudgroupb
      span.cloudgroupc
    .cloudgroup2
      span.cloudgroupa
      span.cloudgroupb
      span.cloudgroupc
    //太陽月亮
    .sun &#9787;
    .moon
    //左上角文字
    .lefttopText
      h1.nightText Good Night  
      h2.nightText
        span.z1 z 
        span.z2 z 
        span.z3 z
      h1.dayText Have a nice day
    .allstars
      .star1
      .star2
      .star3
      .star4
      .star5
      .star6
      .star7
      .star8
      .star9
      .star10
      .star11
      .star12
      .star13
      .star14
      .star15
      .star16
      .star17
      .star18
      .star19
      .star20
      .star21
      .star22
      .star23
      .star24
      .star25
      .star26
      .star27
      .star28
      .star29
      .star30
    //山
    .mountain1
    .mountain2
    .mountain3
    .mountain4
    .mountain5
    //熱氣球
    .balloon1
      .line
      .ball
      .bag
    .balloon2
      .line
      .ball
      .bag
    .balloon3
      .line
      .ball
      .bag
    .balloon4
      .line
      .ball
      .bag
    .balloon5
      .line
      .ball
      .bag
