.subTitle{
    font-size:20px;
}
.editBox{
    margin-bottom: 24px;
    /* display:none; */
    cursor: move;
}
.editBox:hover{
    background-color: #FFF2DC;
}
.editBox.open{
    cursor: default;
}
.editBox.open:hover,.editBox{
    background-color: #F2F2F2;
}
#cancel:hover, #save:hover, #star{
    cursor: pointer;
}
#title, #body{
    padding: 0 5vw;
}
.editBox.open #body,.editBox.open #footer{
    display: block;
}
#body,#footer{
    display: none;
}
/* title */
input.bold{
    width: 42vw;
    margin: 0 12px;
}
.customCheckBox{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #FFFFFF; 
    border-radius: 3px;
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
}
.customCheckBox:checked{
    background: #4A90E2;
}
 .customCheckBox:checked+label:before{
    content: '';
    width: 4px;
    height: 10px;
    transform: rotate(45deg) translate(5px,35px);
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    position: absolute;
}
.customCheckBox:checked ~ input[type="text"]{
    text-decoration: line-through;
}
.littleIcon{
    font-family: FontAwesome;
    color:#757575;
    display: inline-block;
}
.editBox.open .not-allowed {
    cursor: not-allowed;
}
.editBox.open .littleIcon{
    display: none;
}
.editing,.not-allowed,#addFile,.starCheck+label{
    cursor: pointer;
    position: relative;
    z-index: 5;
}
.editBox.open .editing,.editing:hover,.not-allowed:hover, #addFile:hover{
    color: #4A90E2;
}
#title{
    padding-top: 10px;
    height: 100px;
    box-sizing: border-box;
    line-height: 76px;
    margin-bottom: 5px;
    white-space: nowrap;
}
.editBox.open #title{
    border-bottom: 3px solid #C8C8C8;
}
.icon{
    margin-right: 15px;
}
.starCheck:checked + label:before,.starCheck + label:hover:before{
    content:"\f005";
    color: #F5A623;
}
.starCheck{
    /* display: none; */
    position: absolute !important;
}
/* body */
#body p{
    display: inline-block;
    margin: 12px;
}
#date, #time{
    width: 25vw;
    height: 35px;
}
#comment{
    width: 51.5vw;
    height: 120px;
}
.writeArea{
    background-color: #FFFFFF;
    font-size: 16px;
    padding: 5px 12px;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    resize: none;   
}
.gray{
    color: #C8C8C8;
}
.writeItem{
    margin: 0 0 15px 30px;
    position: relative;
    white-space:nowrap;/*不換行*/
}
.fileSpan{
    width: 51.5vw;
    display: inline-block;
    margin-right: 5px;
}
.fileInfo{
    font-size: 16px;
    margin-right: 5px;
}
.fileInfo div[name='filetime']::before{
    content:"uploaded ";
}
.writeItem input[type='file']{
    position: absolute;
    display: none;
}
/* footer */
#footer{
    height: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
}
.footBottom{
    width: 50%;
    float: left;
}
.footBottom:hover{
    filter: grayscale(0.5);
}
#cancel{
    background-color: #FFFFFF;
    color: #D0021B;
    border-bottom-left-radius: 10px; 
}
#save{
    background-color: #4A90E2;
    color: #FFFFFF ;
    border-bottom-right-radius: 10px; 
}
@media(max-width: 675px){
    input.bold{
        width: 35vw;
        margin: 0 5px;
    }
    #title label .fa-2x,.editing,.not-allowed{
        font-size: 1.7em;
        margin-right: 8px;
    } 
}
@media(max-width: 440px){
    #title label .fa-2x,.editing,.not-allowed,.addBox .fa-2x{
        font-size: 1.2em;
    }
    .subTitle,#title input,.addBox input,.footBottom{
        font-size: 16px;
    }
    .gray{
        font-size: 2em;
    }
    .littleIcon{
        font-size: 12px;
    }
}